.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pizza-container {
  width: 30vw;
  height: 30vw;
  display: grid;
  cursor: pointer;
}

.pizza,
.pizza-image-container {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
}

.pizza-image-container {
  position: relative;
}

.pizza-images {
  height: 7rem;
  position: absolute;

  transform: translate(-50%, -50%);
}

.history-container {
  width: 100%;
  height: calc(100% - 30vw);

  overflow: scroll hidden;

  display: flex;
  align-items: center;
}

.history-container > img {
  margin: 2rem;
  width: 10%;
}
