.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  height: 8rem;
  width: 100%;
  position: relative;
  margin: 1rem auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-bar input {
  height: 70%;
  margin: 0rem 0.5rem;
  font-size: var(--input);
  font-family: var(--secondaryFont);
}

.search-area {
  width: 35vw;
  min-width: 28rem;
  padding: 0rem 1rem 0rem 4.8rem;
  border-radius: 1rem;

  /* Format Magnifying Glass Icon */

  background-image: url(../assets/search-icon.png);
  background-size: 2.3rem;
  background-repeat: no-repeat;
  background-position: 1.1rem center;
}

.search-area:focus {
  border: 0.2rem solid var(--burgundy);
}

.search-button {
  width: 7vw;
  min-width: 12rem;
  max-width: 20rem;

  background: none;
  background-color: var(--search-button);
  color: var(--white);
  /* transition: all 0.3s;
    border: 0.3rem double color(light-gray); */
  cursor: pointer;
}

.toppings-container {
  height: calc(100% - 8rem);
  width: 100%;

  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.toppings-container > img {
  width: 20%;
  margin: 1.5rem;
}
